<h1>New Post</h1>
<div class="row col-md-6">
  <%= simple_form_for @post do |f| %>
    <%= f.input :title %>
    <%= f.button :submit, class: 'btn-success' %>
    <%= link_to 'Cancel', posts_path, class: 'btn btn-default' %>
  <% end %>
</div>
