<div>
  <h1><%= @post.title %></h1>
  <%= link_to 'All Posts', posts_path, class: 'btn btn-default' %>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default panel-body">
      <%= direct_upload_form_for @uploader do |f| %>
        <%= f.file_field :image %>
        <%= f.submit 'Upload Image', class: 'btn btn-sm btn-success' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <h4>Images:</h4>
  <% @post.post_images.each do |image| %>
    <%= image_tag post_image_url(image, :thumb) %>
    <p><%= image.name %></p>
  <% end %>
</div>
